.App {
  text-align: center;
}


img {
 /* position: absolute; */
 width: 100%;
 height:100%;
 object-fit: none;
}

.image1 {
  width: 88px;
  height: auto;
  object-fit: contain;

}

.fruta {
  width: 44px;  
  height: 44px;
  object-fit: cover;
  border-radius: 100%;
}
.logo {
  position: absolute;
  display:flex;
  flex-direction: row;
  bottom: 33px;
  justify-content: center;
  text-align: center;
  width:    100%;
  z-index:1;
  color: lightblue;
}

svg{
  height:  44px;
  width:    88px;
  padding-right: 66px;
  color: lightblue;
}

.twitter{
height: 44px;
width: 44px;
position: relative;
 padding-right: 66px;
 object-fit: contain;
 color: lightskyblue; 
}
a{
  text-decoration: none;
color:black;
}
.sites{
  padding: 5px;
  border: 1px solid black;
  font-size: 33px;
  background: #d15eee;
  width:88%;
  display: flex; 
  flex-direction: column;
  text-align: center;
  margin: 22px;
  font-family:'Courier New', Courier, monospace;
  
}
.sites:hover{
  transform: scale(1.03);

}

div{
  display: flex;
  flex-direction:column;
  margin-top:11px;
  flex-wrap:wrap;
  width: 100vw;
  height:auto;
  align-content: center;
  justify-content: space-between;

}

@media  (max-height: 600px) {
  .logo {
    margin-top: 22px;
    position:relative;
  }
}

@media  (min-width: 800px) {
  .sites {
    width: 55%;

  }
}